.m_content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 3;
  &_logo {
    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
    margin: 0 auto;
    img {
      width: 112px;
      height: 75px;
      width: 30vw;
      height: 20vw;
    }
  }
  &_center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -24px auto 0;
    &_title {
      font-size: 21px;
      line-height: 24px;
    }
    &_desc {
      font-size: 12px;
      line-height: 1.5;
      color: rgba(255,255,255,.4);
    }
  }
  &_desc {
    position: absolute;
    top: 56%;
    left: 0;
    right: 0;
    margin: 0 auto;
    p {
      font-size: 9px;
      line-height: 1.5;
      color: rgba(255,255,255,.4);
    }
  }
  &_qr {
    position: absolute;
    top: 74%;
    left: 0;
    right: 0;
    margin: 0 auto;
    img {
      width: 14.6vw;
      height: 14.6vw;
    }
  }
  &_countdown {
    position: absolute;
    top: calc(50% + 26px);
    left: 0;
    right: 0;
    width: 20px;
    height: 34px;
    margin: 0 auto;
    transition: transform 1s;
    &_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(./images/hourglass.png);
      background-size: 100% 100%;
    }
    .cls-1 {
      fill: none;
      stroke: #808080;
      stroke-miterlimit: 10;
      stroke-width: 1.79px;
    }
    .cls-2 {
      //fill: #c0a369;
      fill: url(#svg_bg);
    }
    #svg_replace {
      display: none;
    }
    &_svg {
      width: 20px;
      height: 16px;
      display: block;
    }
    &_sand {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(./images/flash.png?__inline);
      background-position: center center;
      background-size: cover;
      animation: bling 2s linear infinite;
    }
    &_layout {
      display: inline-block;
      position: absolute;
      top: -5px;
      width: 20px;
      height: 20px;
      transition: transform 4s ease-in-out;
    }
  }
  &_qrtext {
    position: absolute;
    top: 84%;
    top: calc(74% + 16.5vw);
    left: 0;
    right: 0;
    margin: 0 auto;
    p {
      font-size: 9px;
      line-height: 1.5;
      color: rgba(255,255,255,.3);
    }
  }
  .no_show {
    opacity: 0;
  }
  .show_ani {
    transition: opacity 1s;
  }
  .no_tran {
    transition: none!important;
  }
}

.english {
  text-transform: uppercase;
}

@keyframes blingsand {
  100%{
    transform: translateY(18px);
  }
}

@keyframes blingsand2 {
  0%{
    transform: translate(0px);
  }
  25%{
    transform: translate(-3px, 8px);
  }
  50%{
    transform: translate(-5px, 16px);
  }
  75% {
    transform: translate(-2px, 22px);
  }
  100%{
    transform: translate(0, 22px);
  }
}

@keyframes blingsand3 {
  0%{
    transform: translate(0px);
  }
  25%{
    transform: translate(3px, 8px);
  }
  50%{
    transform: translate(5px, 16px);
  }
  75% {
    transform: translate(2px, 22px);
  }
  100%{
    transform: translate(0, 22px);
  }
}

@keyframes bling {
  0%{
    transform: scale(1) rotate(0);
  }
  25%{
    transform: scale(0.8) rotate(240deg);
  }
  50%{
    transform: scale(1) rotate(480deg);
  }
  100%{
    transform: scale(1.2) rotate(720deg);
  }
}

